
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-md-16 text-center">
              <h3 class="text-center">{{title}}</h3>
            </div>
            <div *ngIf="loading" class="col-md-1">
              <div class="spinner-border text-primary float-end" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>


            <span *ngIf="submitte && createEmploye.invalid" class="badge text-bg-danger">Todos los Campos son obligatorios</span>
          <form class="mt-4" [formGroup]="createEmploye" (ngSubmit)="addEditEmploye()">
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" formControlName="nombre" placeholder="">
                <label for="floatingInput" >Nombre</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" formControlName="apellido" placeholder="">
                <label for="floatingInput" >Apellido</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" formControlName="documento" placeholder="">
                <label for="floatingInput" >Documento</label>
              </div>
              <div class="form-floating mb-2">
                <input type="number" class="form-control" id="floatingInput" formControlName="salario" placeholder="">
                <label for="floatingInput" >Salario</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" formControlName="cargo" placeholder="">
                <label for="floatingInput" >Cargo</label>
              </div>

            <div class="row">
              <div class="col">
                <input type="date" class="form-control mt-2 py-3" formControlName="fechaNac">
              </div>
              <div class="col mt-2">
                <label class="form-label mt-2 py-3">Fecha de Nacimiento</label>
              </div>
            </div>

            <div class="d-grid gap-2 mt-3">
              <button type="submit" class="btn btn-dark btn-lg  px-4">{{textButtom}}</button>
              <button type="button" class="btn btn-secondary btn-lg " routerLink="/list-employees">Ir al Listado</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
